/* Start Variables */
:root {
    --Purple-100: hsl(254, 88%, 90%);
    --Purple-500: hsl(256, 67%, 59%);
    --Yellow-100: hsl(31, 66%, 93%);
    --Yellow-500: hsl(39, 100%, 71%);

}

/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 18px;
    /* Now 1rem = 18px */
}

body {
    font-family: "DM Sans", sans-serif;
}

h2 {
    font-size: 1.3rem;
}

/* End Global Rules */
.container {
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.box {
    width: 100%;

}

.box-1 {
    background-color: var(--Purple-500);
    border-radius: 1rem;
    text-align: center;
    padding: 1rem 1.2rem;
}

.box-1 h1 {
    font-size: 2rem;
    font-weight: 500;
    color: white;
    margin-bottom: 1rem;
}

.box-1 h1 span {
    color: var(--Yellow-500);
}

.box-1 img {
    width: 10rem;
    margin-bottom: .5rem;
}

.box-1 p {
    color: white;
    font-weight: 300;
}

.box-2 {
    background-color: #eee;
    border-radius: 1rem;
    padding: 1rem 1.2rem;
}

.box-2 img {
    width: 100%;
    margin-bottom: 1rem;

}



.box-3 {
    background-color: var(--Yellow-500);
    border-radius: 1rem;
    padding-top: 1rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.box-3 img {
    width: 10rem;
    margin-top: 1rem;
}

.box-4 {
    background-color: var(--Purple-100);
    border-radius: 1rem;
    padding: 1rem 1.2rem;
    text-align: center;
}

.box-4 img {
    width: 100%;
    margin: .8rem 0;
}

.box-4 p {
    font-size: .8rem;
    font-weight: 500;
}

.box-5 {
    background-color: var(--Purple-500);
    border-radius: 1rem;
    padding: 1rem 1.2rem;
    text-align: center;
}

.box-5 img {
    width: 80%;
}

.box-5 h2 {
    color: white;
}

.box-6 {
    background-color: #eee;
    border-radius: 1rem;
    padding: 1rem 1.2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.box-6 img {
    width: 8rem;
}

.box-6 h2 {
    font-size: 2rem;
}

.box-6 p {
    font-weight: 300;
    font-size: .8rem;
}

.box-7 {
    background-color: var(--Yellow-100);
    border-radius: 1rem;
    padding: 1rem 1.2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.box-7 h2 span {
    font-size: 2rem;

    color: var(--Purple-500);
}

.box-7 img {
    width: 8rem;
}

.box-8 {
    background-color: var(--Yellow-500);
    border-radius: 1rem;
    padding: 1rem 1.2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.box-8 img {
    width: 8rem;
}

/* Desktops (min-width: 1200px) */
@media (min-width: 1200px) {
    body {
        height: 100vh;
    }

    .container {
        margin: 4rem auto;
        width: 75%;
        height: 100%;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 1.5rem;
    }

    .box {
        height: 100%;
    }

    .box-7 {
        grid-column: 1/ 2;
        grid-row: 1/ 3;
    }

    .box-1 {
        grid-column: 2 / 4;
    }

    .box-4 {
        grid-column: 4/ 4;
        grid-row: 1/ 4;
    }

    .box-8 {
        grid-column: 1;
        grid-row: 3 / 5;
    }

    .box-2 {
        grid-column: 2;
        grid-row: 2 / 3;
    }

    .box-6 {
        grid-column: 2;
        grid-row: 4/ 5;
    }

    .box-5 {
        grid-column: 3 / 5;
        grid-row: 4/ 5;
    }
}